<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>All users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>

<!--Heading-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C3F42">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">

            <!--Authenticated user info-->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <span class="navbar-brand mb-0 h1" th:text="${user.getEmail()}">Email</span>
                </li>
                <li class="nav-item">
                    <span class="navbar-brand mb-0 h2">with roles:</span>
                </li>
                <li class="nav-item">
                    <span class="navbar-brand mb-0 h2" th:text="${user.getRolesWithNoBraces()}">Roles</span>
                </li>
            </ul>
        </div>

        <!--Logout-->
        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
            <a style="color: #808080" th:href="@{/logout}" class="nav-link">Logout</a>
        </div>

    </div>
</nav>

<!--Website body-->
<div class="container-fluid">
    <div class="row">

        <!--Sidebar-->
        <div class="col px-0">
            <div class="d-flex flex-column pt-2">
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Admin
                    </a>
                    <a th:href="@{/user}" class="list-group-item list-group-item-action">User</a>
                </div>
            </div>
        </div>


        <div class="col-11 px-5 bg-body-secondary">
            <div class="col bg-light bg-body-secondary">

                <p class="h1">Admin panel</p>

                <!--Toolbar: users table and new user-->
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <form th:method="GET" th:action="@{/admin}">
                            <input type="submit" class="btn btn-light active" value="Users table">
                        </form>
                        <form th:method="GET" th:action="@{/admin/new}">
                            <input type="submit" class="btn btn-light" value="New user">
                        </form>
                    </div>
                </div>

                <!--Main content (users table with actions)-->
                <table class="table table-bordered">
                    <thead>
                    <tr class="table-active">
                        <th scope="col">
                            <p class="h5">All users</p></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="userf: ${users}">
                                    <td th:text="${userf.getId()}">ID</td>
                                    <td th:text="${userf.getUsername()}">username</td>
                                    <td th:text="${userf.getEmail()}">email</td>
                                    <td th:text="${userf.getRolesWithNoBraces()}">role</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                th:data-bs-target="${'#modalEdit'+userf.id}">
                                            Edit
                                        </button>
                                    </td>
                                    <td>
                                        <form th:method="DELETE" th:action="@{/admin/{id}(id=${userf.getId()})}">
                                            <input type="submit" class="btn btn-danger"
                                                   value="Delete">
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--модальное окно edit-->
<th:block th:each="updatedUser:${users}">
    <div class="modal fade" th:id="${'modalEdit'+updatedUser.id}" tabindex="-1" aria-labelledby="editModal"
         aria-hidden="true">
        <form th:method="PATCH" th:action="@{/admin/{id}(id=${updatedUser.getId()})}" th:object="${updatedUser}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editModal">Edit user</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <!--Форма заполнения edit-->

                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>

                            <input class="form-control" type="text" th:name="username" id="username"
                                   th:value="${updatedUser.username}"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="email">email</label>
                            <!--                        <input class="form-control" type="text" th:field="*{email}" id="email"/>-->
                            <input class="form-control" type="text" th:name="email" id="email"
                                   th:value="${updatedUser.email}"/>
                        </div>


                        <div class="mb-3">
                            <label class="form-label" for="password">password</label>

                            <input class="form-control" type="text" th:name="password" id="password"
                                   th:value="${updatedUser.password}">
                        </div>


                        <div class="form_check" th:each="role : ${roles}">
                            <input class="form-check-input" type="checkbox"
                                   th:field="${user.roles}" th:value="${role}" id="roles"/>
                            <label class="form-check-label" for="roles"
                                   th:text="${role.getName()}">Role</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>
</html>